$main-color: #5b4531;
$secondary-color: #CA965C;
$white: #fff;
$light-white: #eee;
$dark: #363131;
$honey-color: #eec373e6;
$honey-color-hover: #F4DFBA;
$light-brown: #cea985;

$light-brown-gradient: linear-gradient(45deg,  rgba(79, 48, 20, 0.382), rgba(92, 52, 15, 0.47));
$brown-gradient: linear-gradient(45deg, rgba(71, 61, 54, 0.266), rgba(69, 60, 52, 0.75));
$light-coffee-gradient: linear-gradient(45deg, rgba(110, 71, 45, 0.011), rgba(133, 70, 15, 0.021));
$coffee-gradient: linear-gradient(45deg, rgba(215, 38, 38, 0.75), rgba(117, 65, 16, 0.75));
$brown-gradient-solid: linear-gradient(45deg, rgba(43, 27, 15, 1.9), rgba(61, 36, 18, 0.9));
$light-brown-gradient-solid: radial-gradient(circle at top right, rgb(167, 121, 78) 0%, rgb(238, 206, 177) 100%);