.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.btn-special-animation{
    position: relative;
    transition: backgound-color .3s;
    overflow: hidden;
    z-index: 0;

    &::before {
        display: block;
        content:'';
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .4s;
        z-index: -1;
    }

    &:hover::before {
        transform: scaleX(1);
        transform-origin: left;
    }
}

.section__relax {
    position: relative;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: $main-color;
    letter-spacing: 1.2px;
    padding: 1em 1em 0.5em;
}

.section__padding {
        padding: 0.7em 1em;
}


@media (min-width: 992px){
    .section__relax {
        font-size: 3.5rem;
    }


    .section__padding {
        padding: 2em 4.3em;
    }
}
