@import './colors';
@import './components';
@import './mixins';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
}

.nav {
	position: fixed;
	height: 100vh;
	top: 0;
	background-image: $brown-gradient, url('../img/ocean_small.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	z-index: 120;
	margin-left: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(100%);
	transition: 0.7s cubic-bezier(0.65, 0.05, 0.36, 1);

	&--activity {
		transform: translateX(0);
	}

	&__link {
		position: relative;
		display: block;
		color: $white;
		text-decoration: none;
		margin: 0.3em 0.2em 0;
		padding: 0.5em 0.6em;
		font-size: 1.8rem;
		text-align: left;

		&:hover {
			color: $secondary-color;
		}
	}
}

.burger-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1000;

	&:focus {
		outline: none;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 8px;
	}

	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}

	&__box {
		position: relative;
		width: 40px;
		height: 30px;
	}

	&__bars,
	&__bars::after,
	&__bars::before {
		@include burgerBtn;
	}

	&__bars {
		width: 100%;

		&::after {
			top: 13px;
			width: 70%;
		}

		&::before {
			top: 27px;
			width: 35%;
			transition-delay: 0.1s;
		}
	}
}

.black__bars,
.black__bars::after,
.black__bars::before {
	background-color: $dark;
}

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	height: 70vh;
	text-align: center;
	color: $white;
	@include heroImages('../img/stones_small.jpg');
	background-attachment: scroll;

	&__heading {
		font-family: 'Dancing Script', cursive;
		font-size: 5rem;
		font-weight: 300;
		padding: 0.5rem;
	}

	&__text {
		font-size: 1.4 rem;
	}

	&__btn {
		margin-top: 2em;
		padding: 0.8em 1.6em;
		font-size: 1.4rem;
		background: $light-brown;
		border: none;
		border-radius: 5px;
		color: $dark;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;

		&::before {
			background-color: $light-white;
		}
	}
}

.logo {
	position: absolute;
	margin: 5% 11%;
	color: $white;
	height: 40vh;
	z-index: 500;

	&__fa-solid {
		justify-content: center;
		align-items: center;
		display: block;
		top: 3%;
		width: 200px;
		left: 100px;
	}

	&__text {
		padding: 5% 6%;
		font-weight: normal;
		font-size: 1.6rem;
		margin: 10% -37%;
	}
}

.main {
	&__background {
		background-image: url('../img/marble-small.jpg');
		width: 100%;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 70vh;
		margin: 2em 0.3em 0;
		padding: 0.2em;
	}

	&__title {
		text-align: center;
		margin: 3em 0 1.5em;
		display: flex;
		justify-content: center;
		align-items: center;
		display: block;
		color: $main-color;
		font-weight: bold;
		z-index: 6;
		letter-spacing: 2px;
		padding: 0.5em 0.3em;
	}
	&__text {
		width: 60%;
		color: $dark;
		text-align: center;
		margin: 0 0.1em;
		padding: 0.2em 0.1em;
		font-family: Dancing script, sans-serif;
		line-height: 3rem;
		z-index: 6;
		font-style: 18rem;
	}
}

.relax {
	&__box {
		display: flex;
		flex-direction: column;
		margin-bottom: 1em;

		&__img {
			width: 100%;
			margin-bottom: 0.4em;
		}
	}

	&__title {
		margin-bottom: 0.8em;
		color: $dark;

		&__text {
			font-style: 1rem;
		}
	}
}
.hotel {
	&__title {
		padding: 5em 1em 2em;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: $main-color;
	}
	&__description {
		font-family: Dancing Script, sans-serif;
		color: $main-color;
		padding: 1.4em 0.8em 6em;
		text-align: center;
		font-size: 2.5rem;
	}
}
.hotel__photo {
	position: relative;
	padding: 12em 6em;
	text-align: center;
	@include heroImages('../img/pool_small.jpg');
	overflow: hidden;
	color: $light-white;
	font-family: Dancing Script, sans-serif;
	text-align: center;
}
.title2 {
	font-size: 3.9rem;
	padding: 2em 1em;
}

.offer {
	&__card {
		position: relative;
		margin: 2em 0;
		height: 400px;
		text-align: center;
		perspective: 1200px;
		color: $light-white;
		border-radius: 15px;
		cursor: pointer;
		transition: transform 2s;

		&:hover {
			.offer__card__front {
				transform: rotateY(-180deg);
				opacity: 1;
			}

			.offer__card__back {
				transform: rotateY(180);
				opacity: 1;
			}
		}
		&__front {
			padding: 2em;
			height: 100%;
			border-radius: 13px;
			background-size: cover;
			transition: transform 2s, opacity 1s;
			width: 100%;

			&--first {
				background-image: $light-brown-gradient, url('../img/face__small.jpg');
			}
			&--second {
				background-image: $light-coffee-gradient, url('../img/massage__small.jpg');
			}
			&--third {
				background-image: $coffee-gradient, url('../img/foot-massage__small.jpg');
			}

			&__title {
				font-family: Dancing Script, sans-serif;
				font-size: 2.9rem;
				top: 1.2em;
			}

			&__details {
				border: none;
				margin-top: 20em;
				padding: 0.8em 1.6em;
				background: $light-brown;
				border-radius: 5px;
				color: $dark;
				cursor: pointer;

				&::before {
					background-color: $light-white;
				}
			}
		}

		&__back {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 2em;
			background-image: $dark-gradient-solid;
			display: flex;
			justify-content: center;
			flex-direction: column;
			opacity: 0;
			border-radius: 15px;
			transform: rotateY(180deg);
			transition: transform 1s, opacity 1s;

			&__title {
				@include cardProperties;
				top: 1.2rem;
				font-family: 'Dancing Script';
				font-size: 2.9rem;
				width: 100%;
			}
			&__list {
				margin: 0 2em;
				width: 85%;
				list-style: none;

				&__text {
					padding: 0.7em;
					font-size: 1.5rem;
					align-items: center;
					text-align: center;
					color: $light-white;

					&:last-child {
						border-bottom: none;
					}
				}

				&__btn {
					@include cardProperties;
					bottom: 2em;
					padding: 0.9em;
					border-radius: 8px;
					width: 70%;
					border: none;
					background-color: $honey-color;
					cursor: pointer;
					font-size: 1.5rem;
					color: $dark;
					font-weight: 600;

					&::before {
						background-color: $honey-color-hover;
					}
				}
			}
		}
	}
}


.opinion{
	&__box{
		position: relative;
		margin: 2em;
		padding: 2em;
		border-radius: 10px;
		box-shadow: 3px 3px 11px #28272736;
		transition: transform .3s;

		&:hover{
			transform: scale(1.1);
		}


	}
		&__box__img{
			position: absolute;
			top:4%;
			left: 90%;
			transform: translate(-50%, -50%);

	
		img {
			width: 90px;
			height: 90px;
			object-fit: cover;
			border-radius: 50%;
		}
	}

	
	&__text{

	margin-bottom: 1em;
	font-size: 2rem;
	color: $dark;


	}
}

@media (min-width: 576px) {
	.main {
		&__background {
			height: 50vh;
			margin: 1em 0.3em 1em;
			padding: 0 0 0.5em;
		}

		&__text {
			font-style: 15em;
		}
	}

	.relax {
		&__box {
			flex-direction: row;
			justify-content: space-between;

			&__img {
				width: 50%;
				padding: 0.3em 1.2em 0 0.8em;
			}
		}
	}
	.relax__box {
		&__title {
			font-size: 2.9rem;
			margin-bottom: 0.2em;
		}

		&__text {
			font-size: 1.4rem;
			padding: 0.3em 1.9em 0.8em 1.2em;
		}
	}

	.offer {
		&__cards {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		&__card {
			width: 50%;

			&__back {
				padding: 1em;
				margin: 0;

				&__title {
					top: 3rem;
				}
				&__list {
					margin: 0.2em;
					width: 100%;

					&__text {
						padding: 0.5em;
						font-size: 1.5rem;
					}

					&__btn {
						margin-top: 20em;
						padding: 0.8em 1.6em;
					}
				}
			}
		}
	}
}
@media (min-width: 768px) {
	.nav {
		&__link {
			font-size: 1.8rem;
		}
		.main__text {
			font-style: 20em;
			margin: 0.8em 3em;
		}

		.logo {
			margin: 4% 8%;

			&__fa-solid {
				top: 3%;
			}
		}
	}

	.offer {
		&__card {
			width: 45%;
			padding: 0.1em;

			&__back {
				padding: 1em;

				&__list{
					&__btn{
						
						padding: 0.7em 1.4em;
					}
				}
			}
		}
	}
}
@media (min-width: 992px) {
	.burger-btn {
		top: 50px;
		right: 50px;
	}

	.logo {
		margin: 3% 7%;

		&__fa-solid {
			top: 4%;
		}
	}

	.nav {
		&__link {
			font-size: 2.2rem;
		}
	}

	.header {
		background-image: $brown-gradient, url('../img/stones_large.jpg');

		&__heading {
			font-size: 9rem;
			padding: 1.1rem;
		}
	}

	.main__text {
		font-style: 28em;
		margin: 1.3em 4em;
	}

	.offer {
		&__card {
			width: 33%;
			padding: 0.1em;

			&__back {
				padding: 1em;
			}
		}
	}
}

@media (min-width: 1200px) {
	.main__text {
		font-style: 35em;
		margin: 2em 6.5em;
	}



}
