.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.btn-special-animation {
  position: relative;
  -webkit-transition: backgound-color 0.3s;
  transition: backgound-color 0.3s;
  overflow: hidden;
  z-index: 0;
}
.btn-special-animation::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  z-index: -1;
}
.btn-special-animation:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.section__relax {
  position: relative;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  color: #5b4531;
  letter-spacing: 1.2px;
  padding: 1.9em 1em 1.6em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.section__padding {
  padding: 0.7em 1em;
}

@media (min-width: 576px) {
  .section__relax {
    font-size: 2rem;
  }
  .section__padding {
    padding: 0.5em 0 0 0.5em;
  }
  .main__title {
    padding: 6em;
  }
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

.nav {
  position: fixed;
  height: 100vh;
  top: 0;
  background-image: linear-gradient(45deg, rgba(49, 38, 29, 0.438), rgba(46, 27, 10, 0.882)), url("../img/ocean_small.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  z-index: 120;
  margin-left: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.7s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: 0.7s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.nav--activity {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.nav__link {
  position: relative;
  display: block;
  color: #fff;
  text-decoration: none;
  margin: 0.3em 0.2em 0;
  padding: 0.5em 0.6em;
  font-size: 1.8rem;
  text-align: left;
}
.nav__link:hover {
  color: #CA965C;
}

.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
}
.burger-btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.burger-btn:hover .burger-btn__bars::after,
.burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}
.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  position: absolute;
  right: 0;
  height: 3px;
  content: "";
  background-color: #fff;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}
.burger-btn__bars {
  width: 100%;
}
.burger-btn__bars::after {
  top: 13px;
  width: 70%;
}
.burger-btn__bars::before {
  top: 27px;
  width: 35%;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.black__bars,
.black__bars::after,
.black__bars::before {
  background-color: black;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
  height: 70vh;
  text-align: center;
  color: #fff;
  background: linear-gradient(45deg, rgba(49, 38, 29, 0.438), rgba(46, 27, 10, 0.882)), url("../img/stones_small.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-attachment: scroll;
}
.header__heading {
  font-family: "Dancing Script", cursive;
  font-size: 5rem;
  font-weight: 300;
  padding: 0.5rem;
}
.header__text {
  font-size: 1.4 rem;
}
.header__btn {
  margin-top: 2em;
  padding: 0.8em 1.6em;
  font-size: 1.4rem;
  background: #cea985;
  border: none;
  border-radius: 5px;
  color: #363131;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.header__btn::before {
  background-color: rgb(222, 213, 201);
}

.logo {
  position: absolute;
  margin: 5% 11%;
  color: #fff;
  height: 40vh;
  z-index: 500;
}
.logo__fa-solid {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  top: 3%;
  width: 200px;
  left: 100px;
}
.logo__text {
  padding: 5% 6%;
  font-weight: normal;
  font-size: 1.6rem;
  margin: 10% -37%;
}

.main__background {
  background-image: radial-gradient(rgba(220, 209, 190, 0.112), rgba(220, 211, 199, 0.315)), url("../img/marble-small.jpg");
  background-position: bottom center;
  background-size: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3em 2em 1em 2em;
  border-radius: 6px;
}
.main__title {
  text-align: center;
  margin: 3em 0.5em 0.7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  color: #5b4531;
  font-weight: bold;
  z-index: 6;
  letter-spacing: 1px;
  padding: 0.4em 0.7em;
}
.main__text {
  width: 60%;
  color: #363131;
  text-align: center;
  margin: 0 0.1em;
  padding: 0.2em 0.1em 0.6em 0.1em;
  font-family: Dancing script, sans-serif;
  line-height: 3rem;
  z-index: 6;
  font-style: 18rem;
}

.relax__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3em;
}
.relax__box__img {
  width: 100%;
  margin-bottom: 0.4em;
}
.relax__title {
  margin: 1em 0;
  color: #363131;
}
.relax__text {
  font-size: 1.2rem;
  margin: 1em 0;
  line-height: 1.5em;
}

.hotel__title {
  padding: 3em 1em 2em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #5b4531;
}
.hotel__description {
  font-family: Dancing Script, sans-serif;
  color: #5b4531;
  padding: 0.7em 0.8em 6em;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.4em;
}

.hotel__photo {
  position: relative;
  padding: 12em 6em;
  text-align: center;
  background: linear-gradient(45deg, rgba(49, 38, 29, 0.438), rgba(46, 27, 10, 0.882)), url("../img/pool_small.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  color: rgb(222, 213, 201);
  font-family: Dancing Script, sans-serif;
  text-align: center;
}

.title2 {
  font-size: 3.9rem;
  padding: 2em 1em;
}

.offer__card {
  position: relative;
  margin: 2em 0;
  height: 400px;
  text-align: center;
  -webkit-perspective: 1200px;
          perspective: 1200px;
  color: rgb(222, 213, 201);
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}
.offer__card:hover .offer__card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  opacity: 1;
}
.offer__card:hover .offer__card__back {
  -webkit-transform: rotateY(180);
          transform: rotateY(180);
  opacity: 1;
}
.offer__card__front {
  padding: 2em;
  height: 100%;
  border-radius: 13px;
  background-size: cover;
  -webkit-transition: opacity 1s, -webkit-transform 2s;
  transition: opacity 1s, -webkit-transform 2s;
  transition: transform 2s, opacity 1s;
  transition: transform 2s, opacity 1s, -webkit-transform 2s;
  width: 100%;
}
.offer__card__front--first {
  background-image: linear-gradient(45deg, rgba(87, 75, 67, 0.93), rgba(39, 27, 17, 0.864)), url("../img/face__small.jpg");
}
.offer__card__front--second {
  background-image: -webkit-gradient(linear, right top, left bottom, from(rgba(65, 40, 23, 0.934)), to(rgba(82, 47, 16, 0.753))), url("../img/massage__small.jpg");
  background-image: linear-gradient(to bottom left, rgba(65, 40, 23, 0.934), rgba(82, 47, 16, 0.753)), url("../img/massage__small.jpg");
}
.offer__card__front--third {
  background-image: -webkit-gradient(linear, right top, left bottom, from(rgba(135, 59, 40, 0.837)), to(rgba(105, 62, 22, 0.881))), url("../img/foot-massage__small.jpg");
  background-image: linear-gradient(to bottom left, rgba(135, 59, 40, 0.837), rgba(105, 62, 22, 0.881)), url("../img/foot-massage__small.jpg");
}
.offer__card__front__title {
  font-family: Dancing Script, sans-serif;
  font-size: 2.9rem;
  top: 1.2em;
}
.offer__card__front__details {
  border: none;
  margin-top: 20em;
  padding: 0.8em 1.6em;
  background: #cea985;
  border-radius: 5px;
  color: #363131;
  cursor: pointer;
}
.offer__card__front__details::before {
  background-color: rgb(222, 213, 201);
}
.offer__card__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2em;
  background-image: -webkit-gradient(linear, right top, left bottom, from(rgba(83, 64, 50, 0.988)), to(rgba(74, 55, 41, 0.982)));
  background-image: linear-gradient(to bottom left, rgba(83, 64, 50, 0.988), rgba(74, 55, 41, 0.982));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  border-radius: 15px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}
.offer__card__back__title {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 1.2rem;
  font-family: "Dancing Script";
  font-size: 2.9rem;
  width: 100%;
}
.offer__card__back__list {
  margin: 0 2em;
  width: 85%;
  list-style: none;
}
.offer__card__back__list__text {
  padding: 0.7em;
  font-size: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: rgb(222, 213, 201);
}
.offer__card__back__list__text:last-child {
  border-bottom: none;
}
.offer__card__back__list__btn {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 2em;
  padding: 0.9em;
  border-radius: 8px;
  width: 70%;
  border: none;
  background-color: rgba(222, 185, 115, 0.9019607843);
  cursor: pointer;
  font-size: 1.5rem;
  color: #363131;
  font-weight: 600;
}
.offer__card__back__list__btn::before {
  background-color: #f3e1c4;
}

.opinion__boxes {
  padding: 2em 1em;
}
.opinion__box {
  position: relative;
  margin: 2em 1em 2em 1em;
  padding: 2em 1em 2em 1em;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 12px rgba(40, 39, 39, 0.2117647059);
          box-shadow: 4px 4px 12px rgba(40, 39, 39, 0.2117647059);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.opinion__box:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.opinion__box__img {
  position: absolute;
  top: 4%;
  left: 82%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.opinion__box__img img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.opinion__text {
  margin-bottom: 1em;
  font-size: 2rem;
  color: #363131;
}

.contact {
  position: relative;
  background-image: radial-gradient(rgba(71, 55, 39, 0.418), rgba(47, 27, 10, 0.73)), url("../img/marble-large.jpg");
  height: 100%;
  width: 100%;
  background-size: 100%;
  text-align: center;
  padding: 0 0 1em 0;
}
.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1em;
}
.contact__form__required__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex-start;
          flex-direction: flex-start;
  padding: 0 0 0.6em;
  font-size: 1.2rem;
}
.contact__form__box__title {
  padding: 1.5em 0 0.4em 0;
  font-size: 3rem;
  font-family: Dancing Script;
  font-stretch: expanded;
}
.contact__form__box__text {
  padding: 0 0 5em 0;
  font-size: 1rem;
}
.contact__form__input {
  margin-bottom: 2em;
  padding: 0.8em 1.2em;
  border-radius: 2px;
  border: black 2px;
  font-size: 1.5rem;
  background-color: rgba(49, 42, 34, 0.5843137255);
  color: #f3e1c4;
}
.contact__form__textarea {
  margin-bottom: 2em;
  padding: 0.8em 1.2em;
  border-radius: 2px;
  border: black 2px;
  font-size: 1.5rem;
  background-color: rgba(49, 42, 34, 0.5843137255);
  color: #f3e1c4;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  min-height: 100px;
  max-height: 200px;
  font-size: 1.6rem;
}
.contact__form__btn {
  -ms-flex-item-align: center;
      align-self: center;
  padding: 1em;
  width: 60%;
  max-width: 100%;
  background-color: rgba(49, 42, 34, 0.5843137255);
  border-radius: 2px;
  cursor: pointer;
  border: 2px;
  margin: 1.7em;
}
.contact__form__btn::before {
  background-color: #c5ab91;
}

.footer {
  background-color: rgba(40, 29, 18, 0.9529411765);
  color: #c5b9ad;
}
.footer .wrapper {
  padding: 4em 2em 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.footer__box {
  font-size: 1.2rem;
}
.footer__box__brand__title {
  padding: 1em;
}
.footer__box__title {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
}
.footer__box__social {
  margin: 2em 0 1em;
}
.footer__box__link {
  color: #c5b9ad;
  font-size: 3rem;
  padding: 3em 0.7em 0 0.7em;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.footer__box__link:hover {
  color: rgba(222, 185, 115, 0.9019607843);
}
.footer__box__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1em 1em 2em;
  font-size: 1rem;
  list-style: none;
}
.footer__box__list__link a {
  color: #c5b9ad;
  text-decoration: none;
  font-size: 1.2rem;
}
.footer__bottom__text {
  text-align: center;
  padding: 1.2em 0 1em;
}

@media (min-width: 576px) {
  .main__background {
    height: 60vh;
    padding: 0 0 0.5em;
    margin: 3em 5em 0 5em;
  }
  .main__text {
    font-style: 15em;
  }
  .relax__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .relax__box__img {
    width: 50%;
    padding: 0.3em 1.2em 0 0.8em;
  }
  .relax__box__title {
    font-size: 2.9rem;
    margin-bottom: 0.2em;
  }
  .relax__box__text {
    font-size: 1.4rem;
    padding: 0.3em 1.9em 0.8em 1.2em;
  }
  .offer__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .offer__card {
    width: 50%;
  }
  .offer__card__back {
    padding: 1em;
    margin: 0;
  }
  .offer__card__back__title {
    top: 3rem;
  }
  .offer__card__back__list {
    margin: 0.2em;
    width: 100%;
  }
  .offer__card__back__list__text {
    padding: 0.5em;
    font-size: 1.5rem;
  }
  .offer__card__back__list__btn {
    margin-top: 20em;
    padding: 0.8em 1.6em;
  }
  .contact__form__required__text {
    font-size: 1.3rem;
  }
  .contact__form__box__title {
    font-size: 4rem;
    font-stretch: ultra-condensed;
  }
  .contact__form__box__text {
    font-size: 1.2rem;
  }
  .contact__form__input {
    padding: 1em 1.5em;
    font-size: 1.7rem;
  }
  .contact__form__textarea {
    padding: 1em 1.5em;
    font-size: 1.7rem;
    min-height: 200px;
  }
  .contact__form__btn {
    padding: 1.2em;
    font-size: 1.8rem;
  }
}
@media (min-width: 768px) {
  .nav__link {
    font-size: 1.8rem;
  }
  .nav .main__text {
    font-style: 20em;
    margin: 0.8em 3em;
  }
  .nav .logo {
    margin: 4% 8%;
  }
  .nav .logo__fa-solid {
    top: 3%;
  }
  .relax__box__img {
    width: 50%;
    margin-bottom: 0.6em;
  }
  .relax__title {
    margin: 3em 0 0 0;
  }
  .relax__text {
    line-height: 2em;
    margin: 2em 0 0 0;
  }
  .relax .offer__card {
    width: 45%;
    padding: 0.1em;
  }
  .relax .offer__card__back {
    padding: 1em;
  }
  .relax .offer__card__back__list__btn {
    padding: 0.7em 1.4em;
  }
}
@media (min-width: 992px) {
  .burger-btn {
    top: 50px;
    right: 50px;
  }
  .logo {
    margin: 3% 7%;
  }
  .logo__fa-solid {
    top: 4%;
  }
  .nav__link {
    font-size: 2.2rem;
  }
  .header {
    background-image: linear-gradient(45deg, rgba(49, 38, 29, 0.438), rgba(46, 27, 10, 0.882)), url("../img/stones_large.jpg");
  }
  .header__heading {
    font-size: 9rem;
    padding: 1.1rem;
  }
  .main__text {
    font-style: 28em;
    margin: 1.3em 4em;
  }
  .relax__title {
    margin: 4em 0 0 0;
    font-size: 1.7rem;
  }
  .relax__text {
    line-height: 2em;
    margin: 3em 0 0 0;
    font-size: 1.3rem;
  }
  .relax .offer__card {
    width: 33%;
    padding: 0.1em;
  }
  .relax .offer__card__back {
    padding: 1em;
  }
}
@media (min-width: 1200px) {
  .main__background {
    margin: 2em 1em 0 1em;
  }
  .main__title {
    margin: 0.2em;
    letter-spacing: 3px;
    padding: 0.2em 0.5em;
  }
  .main__text {
    width: 80%;
    line-height: 4rem;
    font-size: 2.5rem;
    margin: 1.5em 4.5em;
  }
  .footer .wrapper {
    padding: 5em 3em 2.5em;
  }
  .footer__box {
    font-size: 2.1rem;
  }
  .footer__box__brand__title {
    padding: 3rem;
  }
  .footer__box__title {
    margin-bottom: 2em;
    font-size: 3rem;
    font-stretch: ultra-expanded;
  }
  .footer__box__link {
    font-size: 5rem;
    padding: 3em 1.4em 0 1.4em;
  }
  .footer__box__social {
    margin: 3em 0 1em;
  }
  .footer__box__list {
    padding: 1.5em 0.5em 2em 0.5em;
    font-size: 1.2rem;
  }
  .footer__box__list__link a {
    font-size: 1.8rem;
  }
  .footer__bottom__text {
    padding: 1em 0 1em;
    font-size: 1.8rem;
  }
}/*# sourceMappingURL=main.css.map */