.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.btn-special-animation {
  position: relative;
  -webkit-transition: backgound-color 0.3s;
  transition: backgound-color 0.3s;
  overflow: hidden;
  z-index: 0;
}
.btn-special-animation::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  z-index: -1;
}
.btn-special-animation:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

.nav {
  position: fixed;
  height: 100vh;
  top: 0;
  background-image: linear-gradient(45deg, rgb(43, 27, 15), rgba(61, 36, 18, 0.9));
  width: 50%;
  z-index: 120;
  margin-left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.7s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: 0.7s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.nav--activity {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.nav__link {
  position: relative;
  display: block;
  color: #fff;
  text-decoration: none;
  margin: 0.3em 0;
  padding: 0.5em 2em;
  font-size: 2.7rem;
}
.nav__link:hover {
  color: #CA965C;
}

.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
}
.burger-btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.burger-btn:hover .burger-btn__bars::after,
.burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}
.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  position: absolute;
  right: 0;
  height: 3px;
  content: "";
  background-color: #fff;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}
.burger-btn__bars {
  width: 100%;
}
.burger-btn__bars::after {
  top: 13px;
  width: 60%;
}
.burger-btn__bars::before {
  top: 27px;
  width: 30%;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
  height: 70vh;
  text-align: center;
  color: #fff;
  background: linear-gradient(45deg, rgba(71, 61, 54, 0.266), rgba(69, 60, 52, 0.75)), url("../img/stones_small.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-attachment: scroll;
}
.header__heading {
  font-family: "Dancing Script", cursive;
  font-size: 5rem;
  font-weight: 300;
  padding: 0.5rem;
}
.header__text {
  font-size: 1.4 rem;
}
.header__btn {
  margin-top: 2em;
  padding: 0.8em 1.6em;
  font-size: 1.4rem;
  background: #cea985;
  border: none;
  border-radius: 5px;
  color: #363131;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.header__btn::before {
  background-color: #eee;
}

.logo {
  position: absolute;
  margin: 5% 11%;
  color: #fff;
  height: 40vh;
  z-index: 500;
}
.logo__fa-solid {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  top: 3%;
  width: 200px;
  left: 100px;
}
.logo__text {
  padding: 5% 6%;
  font-weight: normal;
  font-size: 1.6rem;
  margin: 10% -37%;
}

.main__background {
  background-image: url("../img/marble-small.jpg");
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 53vh;
  margin: 2em 0.3em 0.5em;
  padding: 0.2em;
}
.main__title {
  text-align: center;
  margin-bottom: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  color: #363131;
  z-index: 6;
}
.main__text {
  width: 50%;
  color: #363131;
  text-align: center;
  margin: 0.2em 0.5em 0;
  font-family: Dancing script, sans-serif;
  line-height: 3rem;
  z-index: 6;
  font-style: 17em;
}

.section__relax {
  position: relative;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #5b4531;
  letter-spacing: 1px;
  padding: 2.2em 1em 0.5em;
}

.section__padding {
  padding: 0em 2em;
}

.relax__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1.8em 0em;
}
.relax__img {
  width: 100%;
  margin: 1em;
}
.relax__title {
  margin-bottom: 0.7em;
}
.relax__text {
  font-style: 1.3rem;
}

@media (min-width: 768px) {
  .section__relax {
    font-style: 0.5em;
  }
  .section__padding {
    padding: 0.5em 1em;
  }
  .main__text {
    font-style: 20em;
    margin: 0.8em 3em;
  }
}
@media (min-width: 992px) {
  .burger-btn {
    top: 50px;
    right: 50px;
  }
  .header {
    background-image: linear-gradient(45deg, rgba(71, 61, 54, 0.266), rgba(69, 60, 52, 0.75)), url("../img/stones_large.jpg");
  }
  .header__heading {
    font-size: 9rem;
    padding: 1.1rem;
  }
  .main__text {
    font-style: 28em;
    margin: 1.3em 4em;
  }
  .section__relax {
    font-style: 4.5em;
  }
  .section__padding {
    padding: 1em 3em;
  }
}
@media (min-width: 1200px) {
  .main__text {
    font-style: 35em;
    margin: 2em 6.5em;
  }
  .section__relax {
    font-style: 6em;
  }
  .section__padding {
    padding: 2em 4.4em;
  }
}/*# sourceMappingURL=main.css.map */